.wrapper {
  background: $light-background;
  border-radius: $border-radius-m;
  padding: $base-padding;
  color: $basic-white;

  h2 {
    margin: 0;
  }
}

.results {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
