/*-- Colors --*/
$basic-white: #F1EBEA;
$basic-blue: #3481EB;
$basic-purple: #4E5BAB;
$basic-red: #B4456D;
$basic-gray: #929292;
$basic-green: #1E995A;
$light-red: rgba(216, 78, 78, 0.7);
$light-background: rgba(44, 51, 62, 0.6);
$extra-light-background: rgba(44, 51, 62, 0.4);
$dark-background: #2C333E;
$input-color: #2C2A2E;

/*-- Breakpoints --*/
$max-width: 1400px;

/*-- Other --*/
$border-radius-m: 24px;
$border-radius-s: 18px;
$base-padding: 34px;