.wrapper {
  background: $light-background;
  border-radius: $border-radius-m;
  padding: $base-padding;
  color: $basic-white;

  h1 {
    margin-bottom: 34px;
  }
}

.article {
  background: $extra-light-background;
  border-radius: $border-radius-s;
  position: relative;
}
