.wrapper {
  background: $light-background;
  border-radius: $border-radius-m;
  padding: $base-padding;
  color: $basic-white;

  h1 {
    margin-bottom: 30px;
  }
}

.button {
  margin-top: 40px;
}
