.wrapper {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 60px;
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 22px;
  margin-top: 7px;
  justify-content: space-between;
}

.logoLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumbs {
  margin-left: 30px;
  margin-right: auto;
}

.breadcrumbsCustom {
  font-size: 18px;
  font-family: 'Ubuntu', Courier, monospace;
}
