.wrapper {
  background: $light-background;
  padding: $base-padding;
  border-radius: $border-radius-m;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.item {
  background: $dark-background;
  border-radius: $border-radius-s;
  border: 2px solid transparent;
  transition: 0.25s ease-in-out;

  a {
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  h2 {
    color: $basic-white;
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 6px;
  }

  .description {
    @include truncate(6);

    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;

  }

  &:hover {
    transform: translateY(-4px);
    border: 2px solid $basic-purple;
  }
}

.info {
  margin-top: auto;

  .theme {
    color: $basic-white;
    font-size: 14px;
    padding: 2px 14px;
    background: rgb(113, 124, 197, 0.4);
    border-radius: 6px;
    margin-bottom: 8px;
    display: block;
    width: max-content;
    //border: 1px solid rgba(255, 255, 255, 0.2)
  }

  .infoInner {
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: $basic-white;
  }

  .label {
    padding: 2px 14px;
    border-radius: 6px;
    display: block;
    width: max-content;
    //border: 1px solid rgba(255, 255, 255, 0.2);
  }

  &__difficulty_easy {
    .label {
      background: rgba(50, 105, 23, 0.4);
      color: $basic-white;
    }


  }

  &__difficulty_medium {
    .label {
      background: rgba(192, 121, 11, 0.4);
      color: $basic-white;
    }

  }

  &__difficulty_hard {
    .label {
      background: rgba(216, 78, 78, 0.4);
      color: $basic-white;
    }
  }
}

.difficulty {
  display: flex;
  align-items: center;
  gap: 6px;
}

.count {
  font-weight: 300;
  padding: 2px 14px;
  color: $basic-white;
  background: $extra-light-background;
  border-radius: 6px;
  display: block;
  width: max-content;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.moderateWrapper {
  margin-top: 60px;
}

.input {
  padding: 10px 14px;
}

.form {
  margin-top: 40px;
}

.formInner {
  width: 100%;
}

.formItem {
  margin-bottom: 14px;

  :global(.ant-form-item-explain-error) {
    padding-left: 10px;
  }
}

.buttonWrapper {
  margin-top: 30px;
}

.searchInput {
  :global(.ant-input-affix-wrapper) {
    max-height: 44px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.themeSelect {
  width: 100% !important;
}
