.outerWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

}

.wrapper {
  max-width: $max-width;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 100px;
  width: 100%;
  box-sizing: border-box;
}

.contentWrapper {
  margin-top: 70px;
  overflow-x: hidden;
}

.footer {
  margin-top: auto;
  box-shadow: 0 -4px 38px -10px rgba(22, 23, 24, 0.65), 0px 10px 20px -15px rgba(22, 23, 24, 1);
  background: rgba(0, 0, 0, 0.7);
}

.footerInner {
  max-width: $max-width;
  margin: 0 auto;
  padding: 40px 16px 40px;
  display: flex;
  justify-content: space-between;
  gap: 30px;

  a {
    color: rgba(255, 255, 255, 0.3);
  }
}
